isprinkle-control/isprinkle-control
isprinkle-control/libftdi-0.18
isprinkle-control/libusb-0.1.8
isprinkle-control/.*.built
*~
.*.sw*
*.pyc
*.pyo

isprinkle-server/test/output.txt
isprinkle-pyqt-gui/images/images_rc.py
isprinkle-pyqt-gui/ui/generated
