.WateringList {
  .Watering {
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    border-left-color: #A19EEC;
    border-left-width: 5px;
    padding: 10px;

    &.active {
      border-left-color: #9bc5a5;
      background: #bbe5c5;
    }

    .zone-duration {
      &.active {
        .name, .minutes {
          font-weight: bold;
          background: #FAEFCA;
        }
      }
      .name {
        margin-left: 5px;
      }
      .minutes {
        color: #888;
      }
    }
  }
}
