.WateringList {
  .Watering {
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    border-left-color: #A19EEC;
    border-left-width: 5px;
    padding: 10px;

    .zone-name {
      margin-left: 5px;
    }
    .zone-duration {
      color: #888;
    }

    &.active {
      border-left-color: #9bc5a5;
      background: #bbe5c5;
    }
  }
}
